<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" style="background:#007AFF;width:40x;height:40px;padding:5px;border-radius:5px">
      <img src="assets/images/uport-logo-white.svg" width="30" height="30" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">uPort Developer Documentation <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://support.uport.me">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ConsenSys/uport-lib">uport-lib</a>
        </li>
       </ul>
    </div>
  </div>
</nav>