<script src="assets/js/uportlib.min.js"></script>
<script>
var Uport = uportlib.Uport

var uport = new Uport('MyDApp')
var web3 = uport.getWeb3()

$('#askForUport').click(function (e) {
  e.stopPropagation()
  uport.getUserPersona()
     .then((persona) => {
       var profile = persona.profile
       console.log(profile)
       if (profile.image) {
         $('#uport-image').attr('src','https://ipfs.infura.io'+profile.image.contentUrl)
       }
       $('#uport-name').text(profile.name)
       $('#uport-log').text(JSON.stringify(profile)).show()
      window.Intercom('boot', {
        app_id: 'g16ho63p',
        name: profile.name,
        created_at: 1234567890,
      });
      Intercom('trackEvent', 'connect-demo');
     })
  return false;
})

$('#getAccountsButton').click(function (e) {
  e.stopPropagation()
  web3.eth.getAccounts(function(error, accounts) {
    $('#uport-address').text(accounts[0])
    $('#uport-log-web3').text(JSON.stringify(accounts)).show()

    Intercom('trackEvent', 'web3-getaccounts-demo');
  })
  return false;
})
</script>