<div class="row code-example">
  <div class="col-md-12 col-lg-9">
{% highlight js linenos %}
var uport = new uportlib.Uport('MyDApp')
uport.getUserPersona()
     .then((persona) => {
       console.log(persona.profileAddress)
       console.log(persona.profile)
     })
{% endhighlight %}
    <div class="console" id="uport-log"></div>
  </div>
  <div class="col-md-12 col-lg-3">
    <div class="card" id="uport-card" style="width: 200px">
      <img class="card-img-top" width="200" height="200" id="uport-image" src="/assets/images/logo@3x.png">
      <div class="card-block">
        <h4 class="card-title" id="uport-name"></h4>
        <p class="card-text eth-address">
          <a id="uport-profile-address" data-toggle="tooltip" data-placement="bottom" title="View your address on the blockexplorer">
          </a>
        </p>
        <a href="#" id="askForUport" class="btn btn-primary">Fetch Uport</a>
      </div>
    </div>
  </div>
</div>
